{% extends 'base.html' %}
{% if user.is_authenticated %}
    {% block status %} Logout {% endblock %}
    {% block url %}action="{{ url_for('logout') }}"{% endblock %}
    {% endif %}
{% block content %}


<div style="text-align: center;">
 <form  method="POST">
  <div class="mb-3 center-block col-lg-13 " >
       {{ form.hidden_tag() }}
    <label  class="form-label">Create your to-do list below</label><br>

    {{ form.canvas }}
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
</div>
{% endblock %}

{% block article %}
    {% for task in tasks %}
        <div class="card" style="width: 18rem;">
             <img class="card-img-top" src="{{url_for('static', filename='./img/task_img.jpg')}}" alt="Task image">
  <div class="card-body">
        <h5 class="card-title">{{ task.task }}</h5>
      <a href="{{ url_for('delete', pk=task.id)}}" class="btn btn-primary" >Delete</a>
      <a href="{{ url_for('update', pk=task.id)}}" class="btn btn-primary" >Update</a>


  </div>
</div>
    {% endfor %}
{% endblock %}