{% extends 'products/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Page{% endblock title %}


{% block errors %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ field.label }}</strong><span>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endblock errors %}
    

{% block content %}
    
    <div class="container"> 
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% comment %} {% for field in form %}
            {{ field.label}}
            <p>{{ field }}</p> {% endcomment %}
                {{ form|crispy }}
            {% comment %} {% endfor %} {% endcomment %}
            <button type="submit">Register</button>
            <br>
            <a href="{% url 'products' %}">Home</a>
        </form> 
    </div>
    
{% endblock %}
