{% extends './base.html' %}

{% block title %} Home page {% endblock %}

{% block messages %}
{% endblock %}

{% block content %}

<div class='container'>

        <div class="card d-inline-block" style="width: 18rem;">
            {% comment %} <img class="card-img-top" src="{{ product.image.url }}"> {% endcomment %}
            <div class="card-body">
                <h5 class="card-title">{{ profile.username }} </h5>
                <p class="card-text">{{ product.description| slice: ":100" }}</p>
                <li>{{ product.price }}</li>
                <a href="{% url 'products:update-product' pk=product.product_id %}" class="btn btn-info my-sm-2 mx-lg-3">Update</a>
                <a href="{% url 'products:delete-product' pk=product.product_id %}" class="btn btn-danger my-sm-2 mx-lg-3">Delete</a>

            </div>
            <a href="{% url 'products:product-detail' pk=product.product_id %}" class="btn btn-danger my-sm-2 mx-lg-5">See the product</a>

        </div>


{% endblock %}
